extends ../layouts/default

mixin article(article)
	.col-lg-4.blurbs
		a(href='blog/post/#{article.slug}')
			h3=article.title
			h5!=article.content.brief

block content
	- function shortenTitle(brief){
	-		var longestBriefLength = 100;
	-		if(brief.length > longestBriefLength){title = brief.slice(0,longestBriefLength - 3);
	-			title +="..."
	-		}
	-		return title;
	-	}

	.container: .col-lg-12.sitewrapper
		.col-lg-9
			.opening
				h1
					span A
					|merican
					span  V
					|oid
					h3 United We Stand, Divided We Fall
				br
			.leadimage
				img(src='/images/av.png')
		.col-lg-3
			h4 Tweets go here

		.col-lg-12.posts
			each article in data.articles
				+article(article)
