extends ../layouts/default

block content
	.container: .col-lg-12.sitewrapper
		.col-lg-9
			.opening
				h1 
					span A
					|merican
					span V
					|oid 
					h3 Speaking to Americans Lost in the Middle
				br
			.leadimage
				img(src='/images/av.png')
		.col-lg-3
			h4 Tweets go here
		
		.col-lg-12.posts
			.col-lg-4
				a(href='https://salty-savannah-41915.herokuapp.com/blog/post/say-what-you-will-trump-is-speaking-to-middle-america')
					h3 Say What You Will, Trump is Speaking to Middle America
					p Say what you will about The Donald, Trump is speaking to middle America unlike any other Republican. And that is bad news...
			.col-lg-4
				a(href='https://salty-savannah-41915.herokuapp.com/blog/post/what-are-us-little-americans-to-do-1')
					h3 What Are Us Little Americans to Do?
					p Stuck between conservative hypocrisy and liberal vapidity, what's an honest man to do?
			.col-lg-4
				a(href='https://salty-savannah-41915.herokuapp.com/blog/post/trumps-meltdown-is-at-hand-1')
					h3 Trump's Meltdown Is At Hand
					p Mr. Trump's meltdown is at hand, and the fallout will be tremendous.
	



	//- .mestuff
	//- 	.col-xs-6.col-xs-offset-1.bio
	//- 		p.lead Hello and welcome to my blog. I'm Andrew, an aspiring writer and tech aficionado. I also host other blogs, notably boxing101.com. Thanks for stopping by and check back for more posts. The next post I'm writing is on the Turing Test. So if you like this site or disagree with me, drop me a line and let me know what you're thinking!
	//- 		br
	//- 		.col-xs-12.icons
	//- 			.col-xs-3.col-xs-offset-1.icon1
	//- 				a(href='https://www.linkedin.com/in/adkroll')
	//- 					img(src='../images/in.png')
	//- 			.col-xs-3.col-xs-offset-1.icon2
	//- 				a(href='http://obscure-hollows-35112.herokuapp.com/contact')
	//- 					img(src='../images/email.png')
	//- 			.col-xs-3.col-xs-offset-1.icon3
	//- 				a(href='https://github.com/akroll1')
	//- 					img(src='../images/github.png')
	//- 	.col-xs-3.myimage
	//- 		img(src='/images/me.jpg')
	//- 	br