extends ../layouts/default

block content
	.container: .col-lg-12.col-xs-12.sitewrapper
		.col-lg-9.col-xs-9
			.opening
				h1 
					span A
					|merican
					span V
					|oid 
					h3 Speaking to Americans Without a Voice
				br
			.leadimage
				img(src='/images/av.png')
			.col-lg-12.posts
				.col-lg-4
					h3 Title
					p here is some text.
				.col-lg-4
					h3 Title
					p here is some text.
				.col-lg-4
					h3 Title
					p here is some text.
		
		.col-lg-3.col-xs-3
			h4 Tweets go here
			



	//- .mestuff
	//- 	.col-xs-6.col-xs-offset-1.bio
	//- 		p.lead Hello and welcome to my blog. I'm Andrew, an aspiring writer and tech aficionado. I also host other blogs, notably boxing101.com. Thanks for stopping by and check back for more posts. The next post I'm writing is on the Turing Test. So if you like this site or disagree with me, drop me a line and let me know what you're thinking!
	//- 		br
	//- 		.col-xs-12.icons
	//- 			.col-xs-3.col-xs-offset-1.icon1
	//- 				a(href='https://www.linkedin.com/in/adkroll')
	//- 					img(src='../images/in.png')
	//- 			.col-xs-3.col-xs-offset-1.icon2
	//- 				a(href='http://obscure-hollows-35112.herokuapp.com/contact')
	//- 					img(src='../images/email.png')
	//- 			.col-xs-3.col-xs-offset-1.icon3
	//- 				a(href='https://github.com/akroll1')
	//- 					img(src='../images/github.png')
	//- 	.col-xs-3.myimage
	//- 		img(src='/images/me.jpg')
	//- 	br