extends ../layouts/default

block content
	.container: .col-lg-12.sitewrapper
		.col-lg-9
			.opening
				h1
					span A
					|merican
					span  V
					|oid
					h3 United We Stand, Divided We Fall
				br
			.leadimage
				img(src='/images/av.png')
		.col-lg-3
			h4 Tweets go here

		.col-lg-12.posts
			.col-lg-4
				a(href='/blog/post/say-what-you-will-trump-is-speaking-to-middle-america')
					h3 Say What You Will, Trump is Speaking to Middle America
					p Say what you will about The Donald, Trump is speaking to middle America unlike any other Republican. And that is bad news...
			.col-lg-4
				a(href='blog/post/what-are-us-little-americans-to-do')
					h3 What Are Us Little Americans to Do?
					p Stuck between conservative hypocrisy and liberal vapidity, what's an honest man to do?
			.col-lg-4
				a(href='/blog/post/is-hillary-clinton-a-tragic-figure')
					h3 Is Hillary Clinton a Tragic Figure?
					p I do believe Hillary wins today, but like in 2000, you never know.
