include ../mixins/flash-messages

doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'AmericanVoid'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css

		block head

	//- HTML BODY
	body

		//- HEADER
		#header: .container-fluid

			div(role="navigation").navbar
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') AmericanVoid
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						//- ul.nav.navbar-nav.navbar-right
							if user
								if user.canAccessKeystone
									li: a(href='/keystone') Open Keystone
								li: a(href='/keystone/signout') Sign Out
							else
								li: a(href='/keystone/signin') Sign In

		//- BODY
		#body

			block intro

			+flash-messages(messages)

			block content


		//- FOOTER
		#footer

			p
				h5 &copy;2016 Andrew Kroll
				h5 Atlanta, GA
			p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.

		script(src='/js/jquery/jquery-1.11.3.min.js')

		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='../js/scripts')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		block js
