body {
	background-color: #F8F8F8;
}
#header {
	margin-top: 30px;
}
.navbar {
	background-color: #962023;
	color: #FFF;
}
.navbar-default .navbar-nav li a {
	color: #FFF;
	font-size: 22px;
	&:hover {
		color: #dec755;
	}
}
.navbar .navbar-brand {
	font-size: 24px;
  font-family: boulder;
	background-color: #DADADA;
	font-weight: bold;
	border: none;
	&:hover {
		color: #DDD;
		border: 1px solid #000;
	}
}
.sitewrapper {
	min-height: 800px;
}
#footer {
	margin-top: 30px;
	border-top: 1px solid #962023;
	padding-top: 20px;
	color: #962023;
	background-color: #CACACA;
	height:120px;
}
#footer p {
	text-align: center;
}
#footer h5 {
	text-align: center;
	color: #696969;
}
