body {
	background-color: #F8F8F8;
  font-family: bazooka;
}
#header {
	margin-top: 30px;
}
.navbar {
	background-color: #962023;
	color: #FFF;
}
.navbar li a {
	color: #FFF;
	font-size: 22px;
}
.navbar li a:hover {
	color: #962023;
	background-color: white;
	border-radius: 3px;
	font-size: 20px;
}
.navbar-brand {
	font-size: 24px;
  font-family: boulder;
	color: black;
	background-color: white;
	font-weight: bold;
	border: none;
}
.navbar-brand:hover {
	color: #962023;
}
.sitewrapper {
	height: 800px;
}
#footer {
	margin-top: 30px;
	border-top: 1px solid #962023;
	padding-top: 20px;
	color: #962023;
	background-color: #CACACA;
	height:120px;
}
#footer p {
	text-align: center;
}
#footer h5 {
	text-align: center;
	color: #696969;
}
