#header {
	margin-top: 30px;
}
.sitewrapper {
	height: 800px;
}
.opening h1 {
	color: #750406;
	font-size: 50px;
	font-weight: bold;
}
.opening span {
	color: #962023;
}
.leadimage img {
	width: 100%;
}
.posts {
	margin-top: 30px;
}
.posts p {
	text-align: center;
}
.posts h3{
	font-weight: bold;
}
#footer {
	margin-top: 30px;
	border-top: 1px solid #962023;
	padding-top: 20px;
	color: #962023;
	background-color: #CACACA;
	height:120px;
}
#footer p {
	text-align: center;
}
#footer h5 {
	text-align: center;
	color: #696969;
}

