body {
	background-color: #F8F8F8;
}
#header {
	margin-top: 30px;
}
.navbar {
	background-color: #962023;
	color: #FFF;
}
.navbar li a {
	color: #FFF;
	font-size: 18px;
}
.navbar li a:hover {
	color: #962023;
	background-color: white;
	border-radius: 3px;
	font-weight: bold;	
	font-size: 20px;
}
.navbar-brand {
	font-size: 22px;
	color: black;
	background-color: white;
	font-weight: bold;
	border: none;
}
.navbar-brand:hover {
	color: #962023;
}
.sitewrapper {
	height: 800px;
}
.opening h1 {
	color: #750406;
	font-size: 60px;
	font-weight: bold;
}
.opening span {
	color: darkred;
}
.leadimage img {
	width: 100%;
}
.posts {
	margin-top: 30px;
}
.posts a:hover {
	color: red;
	text-decoration: none;
}
.posts p {
	text-align: center;
	color: black;
}
.posts h3{
	font-weight: bold;
	text-align: center;
	color: #750406;
}
.posts h3:hover {
	color: #B11010;
}
#footer {
	margin-top: 30px;
	border-top: 1px solid #962023;
	padding-top: 20px;
	color: #962023;
	background-color: #CACACA;
	height:120px;
}
#footer p {
	text-align: center;
}
#footer h5 {
	text-align: center;
	color: #696969;
}

